@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
.noto_serif_bengali {
  font-family: "Noto Serif Bengali";
  font-optical-sizing: auto;
  font-style: normal;
}
